{
  "openapi": "3.1.0",
  "info": {
    "title": "API Settings",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://sellercenter-api.falabella.com"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/?Action=GetManifestList": {
      "get": {
        "summary": "GetManifestList",
        "description": "Devuelve un conjunto de Manifiestos.",
        "operationId": "getmanifestlist",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "Nombre de la función que se va a llamar. Es obligatorio y debe ser 'GetManifestList' en este caso. Si se omite, se devuelve un error 'E001: Parameter Action is mandatory'. Si se suministra una cadena de función desconocida, se devuelve un mensaje de error 'E008: Invalid Action'.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GetManifestList"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "Si se suministra, debe ser \"JSON\" o \"XML\". Si no se suministra, se asume que es \"XML\".",
            "schema": {
              "type": "string",
              "default": "XML"
            }
          },
          {
            "name": "Timestamp",
            "in": "query",
            "description": "La hora actual en formato ISO8601 relativa a UTC (p. Ej., Marca de tiempo = 2015-04-01T10: 00: 00 + 02: 00 para Berlín), de modo que las llamadas no puedan ser reproducidas por un tercero que espíe (es decir, aquellas llamadas demasiado lejos en el pasado o en el futuro producen un mensaje de error). Obligatorio. Si no se proporciona, aparece el mensaje de error 'E001: La marca de tiempo del parámetro es obligatoria'. Si la marca de tiempo es demasiado antigua o está en el futuro, se devuelve un mensaje de error \"E003: Timestamp has expired\" (Timestamp expiró).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "El ID del usuario que realiza la llamada. La lista de usuarios autorizados se mantiene en la interfaz web de Seller Center en Configuración/Gestión de usuarios.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "La versión de la API contra la que se va a ejecutar esta llamada, en formato mayor-punto-menor. Debe ser actualmente 1.0, aunque la versión real de la API sea 2.7.7. Si se omite, se devuelve un mensaje de error 'E001: Parameter Version is mandatory'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "query",
            "description": "La firma criptográfica que autentifica la solicitud. La persona que llama debe crear este valor calculando el hash SHA256 de la solicitud, utilizando la clave API del usuario especificado en el parámetro UserID. Obligatorio. Si se omite, se devuelve un mensaje de error 'E001: Parameter Signature is mandatory'. Si la firma es incorrecta, se devuelve un mensaje de error 'E007: Login failed. Signature mismatch'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId></RequestId>\n    <RequestAction>GetManifestList</RequestAction>\n    <ResponseType>Manifests</ResponseType>\n    <Timestamp>2013-08-27T14:44:13+0000</Timestamp>\n    <TotalCount>15</TotalCount>\n  </Head>\n  <Body>\n    <Manifests>\n      <Manifest>\n        <ManifestId>1</ManifestId>\n        <ShipmentProvider>DHL</ShipmentProvider>\n        <TrackingCode>123ABC456EFG</TrackingCode>\n        <OrderItems>\n          <OrderItem>\n        \t\t<OrderItemId>1</OrderItemId>\n            <InvoiceNumber>1</InvoiceNumber>\n            <ReturnReason>Product not available</ReturnReason>\n          </OrderItem>  \n          <OrderItem>\n        \t\t<OrderItemId>2</OrderItemId>\n            <ReturnReason/>\n          </OrderItem>  \n          <OrderItem>\n        \t\t<OrderItemId>3</OrderItemId>\n            <InvoiceNumber>2</InvoiceNumber>\n            <ReturnReason/>\n          </OrderItem>  \n        </OrderItems>\n        <Status>forward_ready_to_ship</Status>\n        <CreatedAt>2013-09-02 02:28:17</CreatedAt>\n      </Manifest>\n    </Manifests>\n  </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# GetManifestList cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=GetManifestList\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=9ade00fb4b9ab9ed1b8a4d189f1a13e1029edc25dd963235480ec69226fd9f39"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=CreateForwardManifest": {
      "post": {
        "summary": "CreateForwardManifest",
        "description": "Devuelve un conjunto de manifiestos.",
        "operationId": "createforwardmanifest",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "Action",
                  "Timestamp",
                  "UserID",
                  "Version",
                  "Signature"
                ],
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Nombre de la función que se va a llamar. Es obligatorio y debe ser 'CreateForwardManifest' en este caso. Si se omite, se devuelve un error 'E001: Parameter Action is mandatory'. Si se suministra una cadena de función desconocida, se devuelve un mensaje de error 'E008: Acción no válida'.",
                    "default": "CreateForwardManifest"
                  },
                  "Format": {
                    "type": "string",
                    "description": "Si se suministra, debe ser \"JSON\" o \"XML\". Si no se suministra, se asume que es \"XML\".",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "La hora actual en formato ISO8601 relativa a UTC (p. Ej., Marca de tiempo = 2015-04-01T10: 00: 00 + 02: 00 para Berlín), de modo que las llamadas no puedan ser reproducidas por un tercero que espíe (es decir, aquellas llamadas demasiado lejos en el pasado o en el futuro producen un mensaje de error). Obligatorio. Si no se proporciona, aparece el mensaje de error 'E001: La marca de tiempo del parámetro es obligatoria'. Si la marca de tiempo es demasiado antigua o está en el futuro, se devuelve un mensaje de error \"E003: Timestamp has expired\" (Timestamp expiró).",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "El ID del usuario que realiza la llamada. La lista de usuarios autorizados se mantiene en la interfaz web de Seller Center en Configuración/Gestión de usuarios."
                  },
                  "Version": {
                    "type": "string",
                    "description": "La versión de la API contra la que se va a ejecutar esta llamada, en formato mayor-punto-menor. Debe ser actualmente 1.0, aunque la versión real de la API sea 2.7.7. Si se omite, se devuelve un mensaje de error 'E001: Parameter Version is mandatory'."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "La firma criptográfica que autentifica la solicitud. La persona que llama debe crear este valor calculando el hash SHA256 de la solicitud, utilizando la clave API del usuario especificado en el parámetro UserID. Obligatorio. Si se omite, se devuelve un mensaje de error 'E001: Parameter Signature is mandatory'. Si la firma es incorrecta, se devuelve un mensaje de error 'E007: Login failed. Signature mismatch'."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Action",
                  "Timestamp",
                  "UserID",
                  "Version",
                  "Signature"
                ],
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Nombre de la función que se va a llamar. Es obligatorio y debe ser 'CreateForwardManifest' en este caso. Si se omite, se devuelve un error 'E001: Parameter Action is mandatory'. Si se suministra una cadena de función desconocida, se devuelve un mensaje de error 'E008: Acción no válida'.",
                    "default": "CreateForwardManifest"
                  },
                  "Format": {
                    "type": "string",
                    "description": "Si se suministra, debe ser \"JSON\" o \"XML\". Si no se suministra, se asume que es \"XML\".",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "La hora actual en formato ISO8601 relativa a UTC (p. Ej., Marca de tiempo = 2015-04-01T10: 00: 00 + 02: 00 para Berlín), de modo que las llamadas no puedan ser reproducidas por un tercero que espíe (es decir, aquellas llamadas demasiado lejos en el pasado o en el futuro producen un mensaje de error). Obligatorio. Si no se proporciona, aparece el mensaje de error 'E001: La marca de tiempo del parámetro es obligatoria'. Si la marca de tiempo es demasiado antigua o está en el futuro, se devuelve un mensaje de error \"E003: Timestamp has expired\" (Timestamp expiró).",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "El ID del usuario que realiza la llamada. La lista de usuarios autorizados se mantiene en la interfaz web de Seller Center en Configuración/Gestión de usuarios."
                  },
                  "Version": {
                    "type": "string",
                    "description": "La versión de la API contra la que se va a ejecutar esta llamada, en formato mayor-punto-menor. Debe ser actualmente 1.0, aunque la versión real de la API sea 2.7.7. Si se omite, se devuelve un mensaje de error 'E001: Parameter Version is mandatory'."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "La firma criptográfica que autentifica la solicitud. La persona que llama debe crear este valor calculando el hash SHA256 de la solicitud, utilizando la clave API del usuario especificado en el parámetro UserID. Obligatorio. Si se omite, se devuelve un mensaje de error 'E001: Parameter Signature is mandatory'. Si la firma es incorrecta, se devuelve un mensaje de error 'E007: Login failed. Signature mismatch'."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId></RequestId>\n    <RequestAction>CreateForwardManifest</RequestAction>\n    <ResponseType>Manifests</ResponseType>\n    <Timestamp>2013-08-27T14:44:13+0000</Timestamp>\n    <TotalCount>15</TotalCount>\n  </Head>\n  <Body>\n        <ManifestId>MFJB/HK10162/20160414034955</ManifestId>\n        <TrackingCode>M-TRACK-MFJB/TH100LB/20160504035641-5131-15-56-41</TrackingCode>\n        <ShipmentProvider>DHL</ShipmentProvider>\n  </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "xml",
              "code": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<Request>\n  <OrderItemIds>16859,12363</OrderItemIds>\n</Request>"
            }
          ],
          "samples-languages": [
            "xml"
          ]
        }
      }
    },
    "/?Action=GetOrders": {
      "get": {
        "summary": "Get Orders",
        "description": "**GetOrders**. Retrieves a set of orders",
        "operationId": "getorders",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
            "schema": {
              "type": "string",
              "default": "GetOrders"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
            "schema": {
              "type": "string",
              "default": "XML"
            }
          },
          {
            "name": "Timestamp",
            "in": "query",
            "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "query",
            "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreatedAfter",
            "in": "query",
            "description": "Limita la lista de pedidos devuelta a los creados después o en una fecha especificada, dada en formato de fecha ISO 8601. O bien CreatedAfter o bien UpdatedAfter son obligatorios o bien se devolverá un error 'E018: Either CreatedAfter or UpdatedAfter is mandatory' será devuelto.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "CreatedBefore",
            "in": "query",
            "description": "Limits the list of orders returned to those created on or before a specified date, provided in ISO 8601 date format. Optional.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UpdatedAfter",
            "in": "query",
            "description": "Limits the list of orders returned to those updated on or after a specified date, provided in ISO 8601 date format. Either UpdatedAfter or CreatedAfter is mandatory, or an error 'E018: Either CreatedAfter or UpdatedAfter is mandatory' will be returned. Note: UpdatedAfter is not related to the order's updateAt, but rather to the createAt of the order's sales history. In version 2.0, the address of the updated order is used, not the item's order history.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UpdatedBefore",
            "in": "query",
            "description": "Limits the list of orders returned to those updated on or before a specified date, provided in ISO 8601 date format. Optional. Note: UpdatedBefore is not related to the order's updateAt, but rather to the createAt of the sales item history. In version 2.0, the address of the updated order is used, not the item's order history.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Limit",
            "in": "query",
            "description": "The maximum number of orders to be returned, default is 100 (maximum value).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "The number of orders to skip at the beginning of the list (i.e., an offset in the result set; along with the Limit parameter, simple pagination of the result set is possible; when paginating through results, keep in mind that the order list may change during pagination).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "When set, limits the set of orders returned to those matching the provided status. Possible values are pending, canceled, ready_to_ship, delivered, returned, shipped, and failed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Allows selection of the sorting column. Possible values are created_at, updated_at. In version 2.0, it is fixed to updated_at and cannot be changed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Specifies the sorting order. Possible values are ASC, DESC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ShippingType",
            "in": "query",
            "description": "Specifies the order fulfillment model. For Fulfillment by Seller or orders assembled by the supplier, the value is dropshipping; and for Fulfillment by Falabella or orders assembled by Falabella on behalf of the seller, the value is own_warehouse.",
            "schema": {
              "type": "string",
              "enum": [
                "dropshipping",
                "own_warehouse",
                "cross_docking"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId></RequestId>\n    <RequestAction>GetOrders</RequestAction>\n    <ResponseType>Orders</ResponseType>\n    <Timestamp>2013-08-27T14:44:13+0000</Timestamp>\n    <TotalCount>15</TotalCount>\n  </Head>\n  <Body>\n    <Orders>\n      <Order>\n        <OrderId>1</OrderId>\n        <CustomerFirstName>John</CustomerFirstName>\n        <CustomerLastName>Doe</CustomerLastName>\n        <OrderNumber>3000</OrderNumber>\n        <PaymentMethod>CashOnDelivery</PaymentMethod>\n        <Remarks></Remarks>\n        <DeliveryInfo></DeliveryInfo>\n        <Price>100.00</Price>\n        <GiftOption>0</GiftOption>\n        <GiftMessage></GiftMessage>\n        <CreatedAt>2013-09-02 02:28:17</CreatedAt>\n        <UpdatedAt>2013-09-02 02:28:17</UpdatedAt>\n        <AddressBilling>\n          <FirstName>John</FirstName>\n          <LastName>Doe</LastName>\n          <Phone>0123456789</Phone>\n          <Phone2></Phone2>\n          <Address1>testtestcarmen</Address1>\n          <Address2>testtestcarmen</Address2>\n          <CustomerEmail>hello@sellercenter.net</CustomerEmail>\n          <City>Kuala Lumpur</City>\n          <PostCode>12345</PostCode>\n          <Country>Germany</Country>\n        </AddressBilling>\n        <AddressShipping>\n          <FirstName>John</FirstName>\n          <LastName>Doe</LastName>\n          <Phone>0123456789</Phone>\n          <Phone2></Phone2>\n          <Address1>testtestcarmen</Address1>\n          <Address2>testtestcarmen</Address2>\n          <CustomerEmail>hello@sellercenter.net</CustomerEmail>\n          <City>Kuala Lumpur</City>\n          <PostCode>11111</PostCode>\n          <Country>Malaysia</Country>\n        </AddressShipping>\n        <NationalRegistrationNumber/>\n        <OperatorCode>facl</OperatorCode>   \n        <ItemsCount>12</ItemsCount>\n        <PromisedShippingTime>2015-06-13 17:35:22</PromisedShippingTime>\n        <ExtraAttributes>{color:\"red\", isGift:\"true\"}</ExtraAttributes>\n        <OperatorCode>facl</OperatorCode>\n        <ShippingType>Own Warehouse</ShippingType>\n        <Statuses>\n          <Status>shipped</Status>\n          <Status>returned</Status>\n          <Status>return_waiting_for_approval</Status>\n          <Status>return_shipped_by_customer</Status>\n          <Status>return_rejected</Status>\n          <Status>ready_to_ship</Status>\n          <Status>processing</Status>\n          <Status>pending</Status>\n          <Status>failed</Status>\n          <Status>delivered</Status>\n          <Status>canceled</Status>                      \n        </Statuses>\n      </Order>\n    </Orders>\n  </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# GetOrders cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=GetOrders\ndata-urlencode CreatedAfter=2014-01-01T00%3A00%3A00%2B0200\ndata-urlencode CreatedBefore=2014-12-31T23%3A59%3A59%2B0200\ndata-urlencode Offset=0\ndata-urlencode Limit=100\ndata-urlencode Status=pending\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=d4ff93cccb165295ed8357fe42082208b781a3b576bbb7d3fe7a624270b047b9"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=GetOrderComments": {
      "get": {
        "summary": "GetOrderComments",
        "description": "Obtener todos los comentarios que pertenecen a una misma orden.",
        "operationId": "getordercomments",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "Nombre de la función que se va a llamar. Es obligatorio y debe ser 'GetOrderComments' en este caso. Si se omite, se devuelve un error 'E001: Parameter Action is mandatory'. Si se suministra una cadena de función desconocida, se devuelve un mensaje de error 'E008: Invalid Action'.",
            "schema": {
              "type": "string",
              "default": "GetOrderComments"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "Si se suministra, debe ser \"JSON\" o \"XML\". Si no se suministra, se asume que es \"XML\".",
            "schema": {
              "type": "string",
              "default": "XML"
            }
          },
          {
            "name": "Timestamp",
            "in": "query",
            "description": "La hora actual en formato ISO8601 relativo a UTC (por ejemplo, Timestamp=2015-04-01T10:00:00+02:00 para Berlín), para que las llamadas no puedan ser reproducidas por un tercero que las escuche (es decir, las llamadas demasiado lejanas en el pasado o en el futuro producen un mensaje de error). Obligatorio. Si no se suministra, aparece el mensaje de error \"E001: Parameter Timestamp is mandatory\". Si la marca de tiempo es demasiado antigua o está en el futuro, aparece un mensaje de error \"E003: Timestamp has expired'.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "El ID del usuario que realiza la llamada. La lista de usuarios autorizados se mantiene en la interfaz web de Seller Center en Configuración/Gestión de usuarios.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "La versión de la API contra la que se va a ejecutar esta llamada, en formato mayor-punto-menor. Debe ser actualmente 1.0, aunque la versión real de la API sea 2.6.20. Si se omite, se devuelve un mensaje de error 'E001: Parameter Version is mandatory'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "query",
            "description": "La firma criptográfica que autentifica la solicitud. La persona que llama debe crear este valor calculando el hash SHA256 de la solicitud, utilizando la clave API del usuario especificado en el parámetro UserID. Obligatorio. Si se omite, se devuelve un mensaje de error 'E001: Parameter Signature is mandatory'. Si la firma es incorrecta, se devuelve un mensaje de error 'E007: Login failed. Signature mismatch'.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderId",
            "in": "query",
            "description": "El identificador de la orden que fue asignado a la orden por SellerCenter. <br>More infor about <a href=\"https://developers.linio.com/v200.0.0/docs/orders\">Órdenes</a>.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n     <Head>\n          <RequestId/>\n          <RequestAction>GetOrderComments</RequestAction>\n          <ResponseType>Order</ResponseType>\n          <Timestamp>2015-08-19T14:34:50+0200</Timestamp>\n     </Head>\n     <Body>\n          <Comments>\n               <Comment>\n                    <CommentId>14</CommentId>\n                    <Username>external user</Username>\n                    <Content>Comments from SC</Content>\n                    <Type>information_only</Type>\n                    <IsOpened>0</IsOpened>\n                    <IsAnswered>0</IsAnswered>\n                    <CreatedAt>2013-09-11 23:10:55</CreatedAt>\n                    <UpdatedAt>2013-09-11 23:10:55</UpdatedAt>\n                    <Comments>\n                         <Comment>\n                              <CommentId>22</CommentId>\n                              <Username>external user</Username>\n                              <Content>Comments from SC</Content>\n                              <Type>information_only</Type>\n                              <IsOpened>0</IsOpened>\n                              <IsAnswered>1</IsAnswered>\n                              <CreatedAt>2013-09-11 23:10:55</CreatedAt>\n                              <UpdatedAt>2013-09-11 23:10:55</UpdatedAt>\n                         </Comment>\n                         <Comment>\n                              <CommentId>23</CommentId>\n                              <Username>external user</Username>\n                              <Content>Some new Comment</Content>\n                              <Type>information_only</Type>\n                              <IsOpened>0</IsOpened>\n                              <IsAnswered>1</IsAnswered>\n                              <CreatedAt>2013-09-11 23:10:55</CreatedAt>\n                              <UpdatedAt>0000-00-00 00:00:00</UpdatedAt>\n                         </Comment>\n                    </Comments>\n               </Comment>\n               <Comment>\n                    <CommentId>24</CommentId>\n                    <Username>external user</Username>\n                    <Content>Any comments</Content>\n                    <Type>information_only</Type>\n                    <IsOpened>0</IsOpened>\n                    <IsAnswered>0</IsAnswered>\n                    <CreatedAt>2013-09-11 23:10:55</CreatedAt>\n                    <UpdatedAt>2013-09-11 23:10:55</UpdatedAt>\n                    <Comments/>\n               </Comment>\n          </Comments>\n     </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# GetOrderComments cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=GetOrderComments\ndata-urlencode OrderId=1\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=d4ff93cccb165295ed8357fe42082208b781a3b576bbb7d3fe7a624270b047b9"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=GetOrder": {
      "get": {
        "summary": "Get Order",
        "description": "**GetOrder**. Through an OrderId, retrieves the items for a single order.",
        "operationId": "getorder",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
            "schema": {
              "type": "string",
              "default": "GetOrder"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
            "schema": {
              "type": "string",
              "default": "XML"
            }
          },
          {
            "name": "Timestamp",
            "in": "query",
            "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "query",
            "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderId",
            "in": "query",
            "description": "El identificador de la orden que fue asignado a la orden por SellerCenter. <br>Mas información acerca de <a href=\"https://developers.linio.com/v600.0.0/docs/orders\">Órdenes</a>.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n     <Head>\n          <RequestId/>\n          <RequestAction>GetOrder</RequestAction>\n          <ResponseType>Order</ResponseType>\n          <Timestamp>2015-08-03T11:16:14+0200</Timestamp>\n     </Head>\n     <Body>\n          <Orders>\n               <Order>\n                    <OrderId>190</OrderId>\n                    <CustomerFirstName>ภัทรนิดา แสนสุข</CustomerFirstName>\n                    <CustomerLastName/>\n                    <OrderNumber>300125759</OrderNumber>\n                    <PaymentMethod>CashOnDelivery</PaymentMethod>\n                    <Remarks/>\n                    <DeliveryInfo/>\n                    <Price>100.00</Price>\n                    <GiftOption>0</GiftOption>\n                    <GiftMessage/>\n                    <VoucherCode/>\n                    <CreatedAt>2015-03-24 16:09:22</CreatedAt>\n                    <UpdatedAt>2015-03-24 16:09:22</UpdatedAt>\n                    <AddressBilling>\n                         <FirstName>First Name 3 Test</FirstName>\n                         <LastName>First Name 3 Test</LastName>\n                         <Phone>0925090880</Phone>\n                         <Phone2/>\n                         <Address1>Configure this street and number</Address1>\n                         <Address2/>\n                         <Address3/>\n                         <Address4/>\n                         <Address5/>\n                      \t <CustomerEmail>hello@sellercenter.net</CustomerEmail>\n                         <City>Configure city</City>\n                         <Ward/>\n                         <Region/>\n                         <PostCode>33333</PostCode>\n                         <Country>Thailand</Country>\n                    </AddressBilling>\n                    <AddressShipping>\n                         <FirstName>??????? ???????????</FirstName>\n                         <LastName/>\n                         <Phone>0925090880</Phone>\n                         <Phone2/>\n                         <Address1>121 ???? 4 </Address1>\n                         <Address2>?????????????????</Address2>\n                         <Address3/>\n                         <Address4/>\n                         <Address5/>\n                         <CustomerEmail>hello@sellercenter.net</CustomerEmail>\n                         <City>?????????????-??????-10400</City>\n                         <Ward/>\n                         <Region/>\n                         <PostCode>10400</PostCode>\n                         <Country>Thailand</Country>\n                    </AddressShipping>\n                    <NationalRegistrationNumber/>\n                                  \t\t<ItemsCount>12</ItemsCount>\n                 \t\t<ExtraAttributes>{color:\"red\", isGift:\"true\"}</ExtraAttributes>\n                 \t\t<OperatorCode>facl</OperatorCode>\n                    <ShippingType>Cross docking</ShippingType>\n                    <Statuses>\n                      \t <Status>shipped</Status>\n                      \t <Status>returned</Status>\n                      \t <Status>return_waiting_for_approval</Status>\n\t                       <Status>return_shipped_by_customer</Status>\n\t                       <Status>return_rejected</Status>\n\t                       <Status>ready_to_ship</Status>\n\t                       <Status>processing</Status>\n\t                       <Status>pending</Status>\n                         <Status>failed</Status>\n                         <Status>delivered</Status>\n\t                       <Status>canceled</Status>                      \n                 \t\t</Statuses>\n               </Order>\n          </Orders>\n     </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# GetOrder cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=GetOrder\ndata-urlencode OrderId=1\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=d4ff93cccb165295ed8357fe42082208b781a3b576bbb7d3fe7a624270b047b9"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=SetManifestStatusToShipped": {
      "post": {
        "summary": "SetManifestStatusToShipped",
        "description": "",
        "operationId": "setmanifeststatustoshipped",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "Action",
                  "Timestamp",
                  "UserID",
                  "Version",
                  "Signature"
                ],
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Nombre de la función que se va a llamar. Es obligatorio y debe ser 'SetManifestStatusToShipped' en este caso. Si se omite, se devuelve un error 'E001: Parameter Action is mandatory'. Si se suministra una cadena de función desconocida, se devuelve un mensaje de error 'E008: Invalid Action'.",
                    "default": "SetManifestStatusToShipped"
                  },
                  "Format": {
                    "type": "string",
                    "description": "Si se suministra, debe ser \"JSON\" o \"XML\". Si no se suministra, se asume que es \"XML\".",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "La hora actual en formato ISO8601 relativa a UTC (p. Ej., Marca de tiempo = 2015-04-01T10: 00: 00 + 02: 00 para Berlín), de modo que las llamadas no puedan ser reproducidas por un tercero que espíe (es decir, aquellas llamadas demasiado lejos en el pasado o en el futuro producen un mensaje de error). Obligatorio. Si no se proporciona, aparece el mensaje de error 'E001: La marca de tiempo del parámetro es obligatoria'. Si la marca de tiempo es demasiado antigua o está en el futuro, se devuelve un mensaje de error \"E003: Timestamp has expired\" (Timestamp expiró).",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "El ID del usuario que realiza la llamada. La lista de usuarios autorizados se mantiene en la interfaz web de Seller Center en Configuración/Gestión de usuarios."
                  },
                  "Version": {
                    "type": "string",
                    "description": "La versión de la API contra la que se va a ejecutar esta llamada, en formato mayor-punto-menor. Debe ser actualmente 1.0, aunque la versión real de la API sea 2.7.7. Si se omite, se devuelve un mensaje de error 'E001: Parameter Version is mandatory'."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "La firma criptográfica que autentifica la solicitud. La persona que llama debe crear este valor calculando el hash SHA256 de la solicitud, utilizando la clave API del usuario especificado en el parámetro UserID. Obligatorio. Si se omite, se devuelve un mensaje de error 'E001: Parameter Signature is mandatory'. Si la firma es incorrecta, se devuelve un mensaje de error 'E007: Login failed. Signature mismatch'."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Action",
                  "Timestamp",
                  "UserID",
                  "Version",
                  "Signature"
                ],
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Nombre de la función que se va a llamar. Es obligatorio y debe ser 'SetManifestStatusToShipped' en este caso. Si se omite, se devuelve un error 'E001: Parameter Action is mandatory'. Si se suministra una cadena de función desconocida, se devuelve un mensaje de error 'E008: Invalid Action'.",
                    "default": "SetManifestStatusToShipped"
                  },
                  "Format": {
                    "type": "string",
                    "description": "Si se suministra, debe ser \"JSON\" o \"XML\". Si no se suministra, se asume que es \"XML\".",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "La hora actual en formato ISO8601 relativa a UTC (p. Ej., Marca de tiempo = 2015-04-01T10: 00: 00 + 02: 00 para Berlín), de modo que las llamadas no puedan ser reproducidas por un tercero que espíe (es decir, aquellas llamadas demasiado lejos en el pasado o en el futuro producen un mensaje de error). Obligatorio. Si no se proporciona, aparece el mensaje de error 'E001: La marca de tiempo del parámetro es obligatoria'. Si la marca de tiempo es demasiado antigua o está en el futuro, se devuelve un mensaje de error \"E003: Timestamp has expired\" (Timestamp expiró).",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "El ID del usuario que realiza la llamada. La lista de usuarios autorizados se mantiene en la interfaz web de Seller Center en Configuración/Gestión de usuarios."
                  },
                  "Version": {
                    "type": "string",
                    "description": "La versión de la API contra la que se va a ejecutar esta llamada, en formato mayor-punto-menor. Debe ser actualmente 1.0, aunque la versión real de la API sea 2.7.7. Si se omite, se devuelve un mensaje de error 'E001: Parameter Version is mandatory'."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "La firma criptográfica que autentifica la solicitud. La persona que llama debe crear este valor calculando el hash SHA256 de la solicitud, utilizando la clave API del usuario especificado en el parámetro UserID. Obligatorio. Si se omite, se devuelve un mensaje de error 'E001: Parameter Signature is mandatory'. Si la firma es incorrecta, se devuelve un mensaje de error 'E007: Login failed. Signature mismatch'."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId/>\n    <RequestAction>SetManifestStatusToShipped</RequestAction>\n    <ResponseType/>\n    <Timestamp>2016-04-18T16:37:04+0200</Timestamp>\n  </Head>\n  <Body>\n    <Message>Manifest status was successful updated to shipped.</Message>\n  </Body>\n</SuccessResponse>\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "xml",
              "code": "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<Request>\n  <ManifestCode>MFJB/HK1010H/20160418112740</ManifestCode>\n</Request>",
              "name": "Solicitud"
            }
          ],
          "samples-languages": [
            "xml"
          ]
        }
      }
    },
    "/?Action=GetOrderItems": {
      "get": {
        "summary": "Get Items",
        "description": "**GetOrderItems**. Through an OrderId, it returns the detailed items associated with an order.",
        "operationId": "getorderitems",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
            "schema": {
              "type": "string",
              "default": "GetOrderItems"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
            "schema": {
              "type": "string",
              "default": "XML"
            }
          },
          {
            "name": "Timestamp",
            "in": "query",
            "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "query",
            "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrderId",
            "in": "query",
            "description": "The order identifier assigned to the order by SellerCenter. More information about order IDs can be found in <a href=\"https://developers.linio.com/v600.0.0/docs/orders\">Orders</a>.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId/>\n    <RequestAction>GetOrderItems</RequestAction>\n    <ResponseType>OrderItems</ResponseType>\n    <Timestamp>2015-05-29T12:35:54+0200</Timestamp>\n  </Head>\n  <Body>\n    <OrderItems>\n      <OrderItem>\n        <OrderItemId>1</OrderItemId>\n        <ShopId>1</ShopId>\n        <OrderId>1</OrderId>\n        <Name>Checkmate Contrasted Two Pocket Short Sleeve Check Shirt</Name>\n        <Sku>32132132121321321321</Sku>\n        <ShopSku>CH650FA84EFZANMY-113840</ShopSku>\n        <ShippingType/>fulfillment<ShippingType>\n        <SalesType>PURE_MARKETPLACE</SalesType>\n        <ItemPrice>69.00</ItemPrice>\n        <PaidPrice>69.00</PaidPrice>\n        <Currency>MXN</Currency>\n        <WalletCredits>0.00</WalletCredits>\n        <TaxAmount>0.00</TaxAmount>\n        <ShippingAmount>12.50</ShippingAmount>\n        <VoucherAmount>0</VoucherAmount>\n        <VoucherCode/>\n        <Status/>\n        <IsProcessable>1</IsProcessable>\n        <ShipmentProvider/>\n        <IsDigital>0</IsDigital>\n        <DigitalDeliveryInfo/>\n        <TrackingCode>7489</TrackingCode>\n        <Reason/>\n        <ReasonDetail/>\n        <PurchaseOrderId>72587</PurchaseOrderId>\n        <PurchaseOrderNumber>MPDS-D1405061201</PurchaseOrderNumber>\n        <PackageId/>\n        <PromisedShippingTimes>2015-05-26 10:29:03</PromisedShippingTimes>\n\t\t\t\t<ShippingProviderType/>\n        <ExtraAttributes>{color:\"red\", isGift:\"true\"}</ExtraAttributes>\n        <CreatedAt>2015-05-26 10:21:13</CreatedAt>\n        <UpdatedAt>2015-05-26 11:55:53</UpdatedAt>\n        <ReturnStatus />\n        <Vouchers /> // only populated, when enabled in Seller Center\n      </OrderItem>\n      <OrderItem>\n        <OrderItemId>6</OrderItemId>\n        <ShopId>6</ShopId>\n        <OrderId>1</OrderId>\n        <Name>Checkmate Contrasted Two Pocket Short Sleeve Check Shirt</Name>\n        <Sku>32132132121321321321</Sku>\n        <ShopSku>CH650FA84EFZANMY-113840</ShopSku>\n        <ShippingType/>\n        <SalesType>PURE_MARKETPLACE</SalesType>\n        <ItemPrice>69.00</ItemPrice>\n        <PaidPrice>69.00</PaidPrice>\n        <Currency>EUR</Currency>\n        <WalletCredits>0.00</WalletCredits>\n        <TaxAmount>0.00</TaxAmount>\n        <ShippingAmount>12.50</ShippingAmount>\n        <VoucherAmount>0</VoucherAmount>\n        <VoucherCode/>\n        <Status/>\n        <IsProcessable>1</IsProcessable>\n        <ShipmentProvider/>\n        <IsDigital>1</IsDigital>\n        <DigitalDeliveryInfo>+00123456789</DigitalDeliveryInfo>\n        <TrackingCode>12321</TrackingCode>\n        <Reason/>\n        <ReasonDetail/>\n        <PurchaseOrderId>72587</PurchaseOrderId>\n        <PurchaseOrderNumber>MPDS-D1405061201</PurchaseOrderNumber>\n        <PackageId/>\n        <PromisedShippingTimes>2015-05-26 10:29:03</PromisedShippingTimes>\n        <ShippingProviderType>express<ShippingProviderType/>\n        <ExtraAttributes>{color:\"red\", isGift:\"true\"}</ExtraAttributes>\n        <CreatedAt>2015-05-26 10:29:03</CreatedAt>\n        <UpdatedAt>2015-05-26 11:44:26</UpdatedAt>\n        <ReturnStatus />\n        <Vouchers> // only populated, when enabled in Seller Center\n            <Voucher>\n              <Code>AAAA</Code>\n              <Amount>10.5</Amount>\n            </Voucher>\n            <Voucher>\n              <Code>BBBB</Code>\n              <Amount>15.2</Amount>\n            </Voucher>\n        </Vouchers>\n      </OrderItem>\n      <OrderItem>\n        <OrderItemId>7</OrderItemId>\n        <ShopId>7</ShopId>\n        <OrderId>1</OrderId>\n        <Name>Checkmate Contrasted Two Pocket Short Sleeve Check Shirt</Name>\n        <Sku>32132132121321321321</Sku>\n        <ShopSku>CH650FA84EFZANMY-113840</ShopSku>\n        <ShippingType/>\n        <SalesType>PURE_MARKETPLACE</SalesType>\n        <ItemPrice>69.00</ItemPrice>\n        <PaidPrice>69.00</PaidPrice>\n        <Currency>EUR</Currency>\n        <WalletCredits>0.00</WalletCredits>\n        <TaxAmount>0.00</TaxAmount>\n        <ShippingAmount>12.50</ShippingAmount>\n        <VoucherAmount>0</VoucherAmount>\n        <VoucherCode/>\n        <Status/>\n        <IsProcessable>1</IsProcessable>\n        <ShipmentProvider/>\n        <IsDigital>1</IsDigital>\n        <DigitalDeliveryInfo>+00123456789</DigitalDeliveryInfo>\n        <TrackingCode>12321</TrackingCode>\n        <Reason/>\n        <ReasonDetail/>\n        <PurchaseOrderId>72587</PurchaseOrderId>\n        <PurchaseOrderNumber>MPDS-D1405061201</PurchaseOrderNumber>\n        <PackageId/>\n        <PromisedShippingTimes>2015-05-26 10:29:03</PromisedShippingTimes>\n        <ShippingProviderType>standard<ShippingProviderType/>\n        <ExtraAttributes>[]</ExtraAttributes>\n        <CreatedAt>2015-05-26 10:29:03</CreatedAt>\n        <UpdatedAt>2015-05-26 11:44:26</UpdatedAt>\n        <ReturnStatus />\n        <Vouchers> // only populated, when enabled in Seller Center\n           <Voucher>\n              <Code>ABCD</Code>\n              <Amount>50</Amount>\n           </Voucher>\n           <Voucher>\n              <Code>CCXC</Code>\n              <Amount>0.4</Amount>\n          </Voucher>\n        </Vouchers>\n      </OrderItem>\n    </OrderItems>\n  </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# GetOrderItems cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=GetOrderItems\ndata-urlencode OrderId=1\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=d4ff93cccb165295ed8357fe42082208b781a3b576bbb7d3fe7a624270b047b9"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=GetManifestDocument": {
      "get": {
        "summary": "GetManifestDocument",
        "description": "",
        "operationId": "getmanifestdocument",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "Nombre de la función que se va a llamar. Es obligatorio y debe ser 'GetManifestDocument' en este caso. Si se omite, se devuelve un error 'E001: Parameter Action is mandatory'. Si se suministra una cadena de función desconocida, se devuelve un mensaje de error 'E008: Invalid Action'.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "GetManifestDocument"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "Si se suministra, debe ser \"JSON\" o \"XML\". Si no se suministra, se asume que es \"XML\".",
            "schema": {
              "type": "string",
              "default": "XML"
            }
          },
          {
            "name": "Timestamp",
            "in": "query",
            "description": "La hora actual en formato ISO8601 relativa a UTC (p. Ej., Marca de tiempo = 2015-04-01T10: 00: 00 + 02: 00 para Berlín), de modo que las llamadas no puedan ser reproducidas por un tercero que espíe (es decir, aquellas llamadas demasiado lejos en el pasado o en el futuro producen un mensaje de error). Obligatorio. Si no se proporciona, aparece el mensaje de error 'E001: La marca de tiempo del parámetro es obligatoria'. Si la marca de tiempo es demasiado antigua o está en el futuro, se devuelve un mensaje de error \"E003: Timestamp has expired\" (Timestamp expiró).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UserID",
            "in": "query",
            "description": "El ID del usuario que realiza la llamada. La lista de usuarios autorizados se mantiene en la interfaz web de Seller Center en Configuración/Gestión de usuarios.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "La versión de la API contra la que se va a ejecutar esta llamada, en formato mayor-punto-menor. Debe ser actualmente 1.0, aunque la versión real de la API sea 2.7.7. Si se omite, se devuelve un mensaje de error 'E001: Parameter Version is mandatory'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "query",
            "description": "La firma criptográfica que autentifica la solicitud. La persona que llama debe crear este valor calculando el hash SHA256 de la solicitud, utilizando la clave API del usuario especificado en el parámetro UserID. Obligatorio. Si se omite, se devuelve un mensaje de error 'E001: Parameter Signature is mandatory'. Si la firma es incorrecta, se devuelve un mensaje de error 'E007: Login failed. Signature mismatch'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ManifestCode",
            "in": "query",
            "description": "'ManifestCode' es necesario para encontrar un manifiesto. Si no se encuentra ningún manifiesto, se proporciona un error: 'E088: No se encontró el manifiesto'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId/>\n    <RequestAction>GetReturnManifestDocument</RequestAction>\n    <ResponseType/>\n    <Timestamp>2016-04-14T14:59:30+0200</Timestamp>\n  </Head>\n  <Body>\n    <DocumentType>manifest</DocumentType>\n    <MimeType>text/html</MimeType>    <File>PGh0bWw+CjxoZWFkPgo8c3R5bGU+Ym9keSB7IGZvbnQtc2l6ZToxMHB4OyBmb250LWZhbWlseTpBcmlhbCxIZWx2ZXRpY2Esc2Fucy1zZXJpZjs...8L2JvZHk+CjwvaHRtbD4=</File>\n  </Body>\n</SuccessResponse>\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# GetManifestDocument cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=GetManifestDocument\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=9ade00fb4b9ab9ed1b8a4d189f1a13e1029edc25dd963235480ec69226fd9f39"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=SetStatusToPackedByMarketplace": {
      "post": {
        "summary": "Set a Product as Packed",
        "description": "**SetStatusToPackedByMarketplace**. For an array of OrderItems, marks one or more items of the order as packed.",
        "operationId": "setstatustopackedbymarketplace",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action: Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
                    "default": "SetStatusToPackedByMarketplace"
                  },
                  "Format": {
                    "type": "string",
                    "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users."
                  },
                  "Version": {
                    "type": "string",
                    "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned."
                  },
                  "OrderItemIds": {
                    "type": "array",
                    "description": "List of order items to be marked as ready for shipping. Comma-separated list enclosed in brackets. Required. <a href=\"https://developers.falabella.com/v600.0.0/reference/getorderitems\"/>GetOrderItems</a>",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "DeliveryType": {
                    "type": "string",
                    "description": "One of the following: 'dropship' - The seller will ship the package on their own; 'pickup' - The store should pick up the item from the seller (cross-docking); 'send_to_warehouse' - The seller will send the item to the warehouse (cross-docking). Required."
                  },
                  "SerialNumber": {
                    "type": "string",
                    "description": "*Only applies if the serial number feature has been enabled for the platform and the seller.* Unique serial number for tracking the order items. It can be specified as a comma-separated list of serial numbers or as a JSON array, in which case there must be exactly as many serial numbers as OrderItemIds. It can also be specified as a JSON object where the keys are the order item IDs and the values are the corresponding serial numbers; in this case, the OMS order item ID will be used as the serial number for items where a serial number has not been explicitly specified."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action: Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
                    "default": "SetStatusToPackedByMarketplace"
                  },
                  "Format": {
                    "type": "string",
                    "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users."
                  },
                  "Version": {
                    "type": "string",
                    "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned."
                  },
                  "OrderItemIds": {
                    "type": "array",
                    "description": "List of order items to be marked as ready for shipping. Comma-separated list enclosed in brackets. Required. <a href=\"https://developers.falabella.com/v600.0.0/reference/getorderitems\"/>GetOrderItems</a>",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "DeliveryType": {
                    "type": "string",
                    "description": "One of the following: 'dropship' - The seller will ship the package on their own; 'pickup' - The store should pick up the item from the seller (cross-docking); 'send_to_warehouse' - The seller will send the item to the warehouse (cross-docking). Required."
                  },
                  "SerialNumber": {
                    "type": "string",
                    "description": "*Only applies if the serial number feature has been enabled for the platform and the seller.* Unique serial number for tracking the order items. It can be specified as a comma-separated list of serial numbers or as a JSON array, in which case there must be exactly as many serial numbers as OrderItemIds. It can also be specified as a JSON object where the keys are the order item IDs and the values are the corresponding serial numbers; in this case, the OMS order item ID will be used as the serial number for items where a serial number has not been explicitly specified."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId></RequestId>\n    <RequestAction>SetStatusToPackedByMarketplace</RequestAction>\n    <ResponseType>OrderItems</ResponseType>\n    <Timestamp>2013-08-27T14:44:13+0000</Timestamp>\n  </Head>\n  <Body>\n    <OrderItems>\n      <OrderItem>\n        <OrderItemId>1</OrderItemId>\n        <PurchaseOrderId>123456</PurchaseOrderId>\n        <PurchaseOrderNumber>ABC-123456</PurchaseOrderNumber>\n        <PackageId>MPDS-200131783-9800</PackageId>\n      </OrderItem>\n    </OrderItems>\n  </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# SetStatusToPackedByMarketplace cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=SetStatusToPackedByMarketplace\ndata-urlencode OrderItemIds=[1]\ndata-urlencode DeliveryType=dropship\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=d4ff93cccb165295ed8357fe42082208b781a3b576bbb7d3fe7a624270b047b9"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=SetStatusToCanceled": {
      "post": {
        "summary": "Cancel Order",
        "description": "**SetStatusToCanceled**. Generates the cancellation of an item through an OrderItemId.",
        "operationId": "setstatustocanceled",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
                    "default": "SetStatusToCanceled"
                  },
                  "Format": {
                    "type": "string",
                    "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users."
                  },
                  "Version": {
                    "type": "string",
                    "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned."
                  },
                  "OrderItemId": {
                    "type": "integer",
                    "description": "Identifier of the order item that has been shipped. You can obtain it from GetOrderItems.",
                    "format": "int32"
                  },
                  "Reason": {
                    "type": "string",
                    "description": "The reason why the order is being canceled. Possible value: SHORTAGE"
                  },
                  "ReasonDetail": {
                    "type": "string",
                    "description": "A more detailed explanation of the reason why the order is being canceled."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
                    "default": "SetStatusToCanceled"
                  },
                  "Format": {
                    "type": "string",
                    "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users."
                  },
                  "Version": {
                    "type": "string",
                    "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned."
                  },
                  "OrderItemId": {
                    "type": "integer",
                    "description": "Identifier of the order item that has been shipped. You can obtain it from GetOrderItems.",
                    "format": "int32"
                  },
                  "Reason": {
                    "type": "string",
                    "description": "The reason why the order is being canceled. Possible value: SHORTAGE"
                  },
                  "ReasonDetail": {
                    "type": "string",
                    "description": "A more detailed explanation of the reason why the order is being canceled."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "XML Success": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId></RequestId>\n    <RequestAction>SetStatusToCanceled</RequestAction>\n    <ResponseType></ResponseType>\n    <Timestamp>2013-08-27T14:44:13+0000</Timestamp>\n  </Head>\n  <Body/>\n</SuccessResponse>"
                  },
                  "XML Failure": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ErrorResponse>\n  <Head>\n    <RequestAction>SetStatusToCanceled</RequestAction>\n    <ErrorType>Sender</ErrorType>\n    <ErrorCode>1000</ErrorCode>\n    <ErrorMessage>Invalid cancelation reason</ErrorMessage>\n  </Head>\n  <Body/>\n</ErrorResponse>"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# SetStatusToCanceled cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=SetStatusToCanceled\ndata-urlencode OrderItemId=1\ndata-urlencode Reason=Changed Mind\ndata-urlencode ReasonDetail=My hobbies are ordering and returning.\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=d4ff93cccb165295ed8357fe42082208b781a3b576bbb7d3fe7a624270b047b9"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=SetStatusToReadyToShip": {
      "post": {
        "summary": "Set Ready for Shipment",
        "description": "**SetStatusToReadyToShip**. For a packed item with a tracking number and its label, changes its status to ready to be shipped.",
        "operationId": "setstatustoreadytoship",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
                    "default": "GetBrands"
                  },
                  "Format": {
                    "type": "string",
                    "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users."
                  },
                  "Version": {
                    "type": "string",
                    "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned."
                  },
                  "OrderItemIds": {
                    "type": "array",
                    "description": "List of order items to be marked as ready for shipping. Comma-separated list enclosed in brackets. Required. <a href=\"https://developers.falabella.com/v600.0.0/reference/getorderitems\"/>GetOrderItems</a>",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "DeliveryType": {
                    "type": "string",
                    "description": "One of the following: 'dropship' - The seller will ship the package on their own; 'pickup' - The store should pick up the item from the seller (cross-docking); 'send_to_warehouse' - The seller will send the item to the warehouse (cross-docking). Required."
                  },
                  "ShippingProvider": {
                    "type": "string",
                    "description": "Valid shipping provider, as retrieved through GetShipmentProviders (provide the name returned by the Name label(s)). Required for direct shipments and required for cross-docking shipments when using the delivery type \"send_to_warehouse\"."
                  },
                  "TrackingNumber": {
                    "type": "string",
                    "description": "The actual tracking number needs to be provided when a ShippingProvider without API integration is passed."
                  },
                  "SerialNumber": {
                    "type": "string",
                    "description": "*Only applies if the serial number feature has been enabled for the platform and the seller.* Unique serial number for tracking order items. It can be specified as a comma-separated list of serial numbers or as a JSON array, in which case there must be exactly as many serial numbers as OrderItemIds. It can also be specified as a JSON object where the keys are the order item IDs and the values are the corresponding serial numbers; in this case, the OMS order item ID will be used as the serial number for items not explicitly specified."
                  },
                  "PackageId": {
                    "type": "string",
                    "description": "The current package ID must be provided after passing <a href=\"https://developers.falabella.com/v600.0.0/reference/setstatustopackedbymarketplace\"/>SetStatusToPackedByMarketplace</a>."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
                    "default": "GetBrands"
                  },
                  "Format": {
                    "type": "string",
                    "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
                    "default": "XML"
                  },
                  "Timestamp": {
                    "type": "string",
                    "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
                    "format": "date"
                  },
                  "UserID": {
                    "type": "string",
                    "description": "The ID of the user making the call. The list of authorized users is maintained in the Seller Center web interface under General Settings / Manage Users."
                  },
                  "Version": {
                    "type": "string",
                    "description": "The API version against which this call will be executed, in major-dot-minor format. It must currently be 1.0, although the actual API version is 2.6.20. If omitted, an error message \"E001: Parameter Version is mandatory\" is returned."
                  },
                  "Signature": {
                    "type": "string",
                    "description": "The cryptographic signature that authenticates the request. A caller must create this value by calculating the SHA256 hash of the request, using the API key of the user specified in the UserID parameter. Required. If omitted, an error message \"E001: Parameter Signature is mandatory\" is returned. If the signature is incorrect, an 'E007: Login failed' error message for signature mismatch is returned."
                  },
                  "OrderItemIds": {
                    "type": "array",
                    "description": "List of order items to be marked as ready for shipping. Comma-separated list enclosed in brackets. Required. <a href=\"https://developers.falabella.com/v600.0.0/reference/getorderitems\"/>GetOrderItems</a>",
                    "items": {
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "DeliveryType": {
                    "type": "string",
                    "description": "One of the following: 'dropship' - The seller will ship the package on their own; 'pickup' - The store should pick up the item from the seller (cross-docking); 'send_to_warehouse' - The seller will send the item to the warehouse (cross-docking). Required."
                  },
                  "ShippingProvider": {
                    "type": "string",
                    "description": "Valid shipping provider, as retrieved through GetShipmentProviders (provide the name returned by the Name label(s)). Required for direct shipments and required for cross-docking shipments when using the delivery type \"send_to_warehouse\"."
                  },
                  "TrackingNumber": {
                    "type": "string",
                    "description": "The actual tracking number needs to be provided when a ShippingProvider without API integration is passed."
                  },
                  "SerialNumber": {
                    "type": "string",
                    "description": "*Only applies if the serial number feature has been enabled for the platform and the seller.* Unique serial number for tracking order items. It can be specified as a comma-separated list of serial numbers or as a JSON array, in which case there must be exactly as many serial numbers as OrderItemIds. It can also be specified as a JSON object where the keys are the order item IDs and the values are the corresponding serial numbers; in this case, the OMS order item ID will be used as the serial number for items not explicitly specified."
                  },
                  "PackageId": {
                    "type": "string",
                    "description": "The current package ID must be provided after passing <a href=\"https://developers.falabella.com/v600.0.0/reference/setstatustopackedbymarketplace\"/>SetStatusToPackedByMarketplace</a>."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/xml": {
                "examples": {
                  "Result": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<SuccessResponse>\n  <Head>\n    <RequestId></RequestId>\n    <RequestAction>SetStatusToReadyToShip</RequestAction>\n    <ResponseType>OrderItems</ResponseType>\n    <Timestamp>2013-08-27T14:44:13+0000</Timestamp>\n  </Head>\n  <Body>\n    <OrderItems>\n      <OrderItem>\n        <PurchaseOrderId>123456</PurchaseOrderId>\n        <PurchaseOrderNumber>ABC-123456</PurchaseOrderNumber>\n      </OrderItem>\n    </OrderItems>\n  </Body>\n</SuccessResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "# SetStatusToReadyToShip cURL example\n# to run, update Timestamp and recompute Signature\n#\nurl = \"https://sellercenter-api.falabella.com/\"\nget\ndata-urlencode Action=SetStatusToReadyToShip\ndata-urlencode OrderItemIds=[1]\ndata-urlencode DeliveryType=dropship\ndata-urlencode ShippingProvider=Aramax\ndata-urlencode TrackingNumber=123456789\ndata-urlencode Timestamp=2015-07-01T11:11+0000\ndata-urlencode UserID=maintenance@sellercenter.net\ndata-urlencode Version=1.0\ndata-urlencode Signature=d4ff93cccb165295ed8357fe42082208b781a3b576bbb7d3fe7a624270b047b9"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/?Action=GetMultipleOrderItems": {
      "get": {
        "summary": "Get Items for Multiple Orders",
        "description": "**GetMultipleOrderItems**. Through an array of OrderIds, it returns the detailed items associated with an order.",
        "operationId": "getmultipleorderitems",
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "Name of the function to be called. Required and must be 'GetBrands' in this case. If omitted, an error 'E001: Parameter Action is mandatory' is returned. If an unknown function string is provided, an error message 'E008: Invalid Action' is returned.",
            "schema": {
              "type": "string",
              "default": "GetMultipleOrderItems"
            }
          },
          {
            "name": "Format",
            "in": "query",
            "description": "If provided, it must be 'JSON' or 'XML'. If not provided, 'XML' is assumed.",
            "schema": {
              "type": "string",
              "default": "XML"
            }
          },
          {
            "name": "Timestamp",
            "in": "query",
            "description": "The current time in ISO8601 format relative to UTC (e.g., Timestamp = 2015-04-01T10:00:00+02:00 for Berlin), so that calls cannot be replayed by a third party intercepting them (i.e., calls too far in the past or future will produce an error message). Required. If not provided, the error message 'E001: Parameter Timestamp is mandatory' appears. If the timestamp is too old or in the future, an error message \"E003: Timestamp has expired\" is returned.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "UserID",
            "in": "query",
[...]
